plotly_express
dash==0.39.0  # The core dash backend
dash-auth==1.3.2
dash-html-components==0.14.0  # HTML components
dash-core-components==2.0.0  # Supercharged components
pandas
numpy
pickle-mixin==1.0.2
gunicorn
